<% provide(:title, 'Info') %>

<h1 class="page-header">Art :</h1>
<p class="lead">
  Examples of artwork that I have created over the past.</p>
<div class="row">
  <div class="span7">
    <a href="http://i.imgur.com/p7LhxH4.jpg">
      <img src="http://i.imgur.com/p7LhxH4.jpg" alt="lola">
    </a>
    <h4>Lola Pointillism Sketch<h4>
    <div class="divider-pad"></div>
  </div>
</div>