<% provide(:title, 'JHD') %>

<h1 class="page-header">JamesHooverDesign - Coming Soon!</h1>
<h4>Hey! You've stumbled upon my design portfolio. Welcome!</h4>

<h4>My name is James and I am a software developer working in downtown Seattle. I love what I do but my true love lies in the visual arts. I deeply enjoy drawing, painting, photograhy, and design...to name a few.</h4>

<h4>I have decided to pursue my passion of the visual arts, using technology as my medium, in order to incorporate my style into the modern world. This mashup of disciplines has led me to user experience design (UX) -- a field that not only involves art and technology but also psychology and architecture, two other interests of mine.</h4>

<h4>My portfolio is currently under construction. I hope you will stop by in the future to see what I have created. Or better yet, send me a short email saying you found this page and I will be pleased to let you know when it's ready to be shown to the world. Thanks! :)</h4>

<h3>email: <a href="mailto:jamesfhoover@gmail.com">jamesfhoover@gmail.com</a></h3>
