<% provide(:title, 'Info') %>

<h1 class="page-header">Info :</h1>
<p class="lead">
  I am currently a software developer working in downtown Seattle. I have always had a love and skill for art and design so I am pursuing a career to combine that with my technical background.</p>
<p class="lead">
  <b>Contact Info:</b>
  <br>
  James Hoover
  <br>
  email: <a href="mailto:jfhoover@comcast.net">jfhoover@comcast.net</a>
</p>