<% provide(:title, 'My Work') %>
<h1 class="page-header">My Work :</h1>

  <p class="lead">Web pages I have designed and developed to display my skills in a variety of content and themes.</p>
  <p>(It's not actually my work yet. Site is still in development.)</p>
  <br>
<div class="row">
  <div class="span5">
    <h4 class="title-mywork"><a href="http://i.imgur.com/RHTO83N.jpg">Web</a></h4>
    <p>Web pages I have designed and developed.</p>
    <a class="thumbnail" href="http://i.imgur.com/RHTO83N.jpg">
      <img src="http://i.imgur.com/RHTO83N.jpg" alt="youtube">
    </a>
    <div class="divider-pad"></div>
  </div>

  <div class="span5">
    <h4 class="title-mywork"><a href="/art">Art</a></h4>
    <p>Personal drawings.</p>
    <a class="thumbnail" href="/art">
      <img src="http://i.imgur.com/p7LhxH4.jpg" alt="lola">
    </a>
    <div class="divider-pad"></div>
  </div>

  <div class="span10">
    <h4 class="title-mywork"><a href="http://i.imgur.com/RHTO83N.jpg">YouTube</a></h4>
    <p>Hosts user-generated videos. Includes network and professional content.</p>
    <a class="thumbnail" href="http://i.imgur.com/RHTO83N.jpg">
      <img src="http://i.imgur.com/RHTO83N.jpg" alt="youtube">
    </a>
    <div class="divider-pad"></div>
  </div>

  <div class="span10">
    <h4 class="title-mywork"><a href="http://i.imgur.com/fkACHXR.png">Facebook</a></h4>
    <p>A social utility that connects people with friends and others who work, study, and live around them.</p>
    <a class="thumbnail" href="http://i.imgur.com/fkACHXR.png">
      <img src="http://i.imgur.com/fkACHXR.png" alt="facebook">
    </a>
    <div class="divider-pad"></div>
  </div>

  <div class="span10">
    <h4 class="title-mywork"><a href="http://i.imgur.com/K9llefV.jpg">Twitter</a></h4>
    <p>An online social networking and microblogging service that enables users to send and read short 140-character text messages, called "tweets".</p>
    <a class="thumbnail" href="http://i.imgur.com/K9llefV.jpg">
      <img src="http://i.imgur.com/K9llefV.jpg" alt="">
    </a>
    <div class="divider-pad"></div>
  </div>

  <div class="span10">
    <h4 class="title-mywork"><a href="http://i.imgur.com/HAun9aZ.png">Google</a></h4>
    <p>Search the world's information, including webpages, images, videos and more.</p>
    <a class="thumbnail" href="http://i.imgur.com/HAun9aZ.png">
      <img src="http://i.imgur.com/HAun9aZ.png" alt="">
    </a>
    <div class="divider-pad"></div>
  </div>
</div>

<!--
<h1 class="page-header">Work :</h1>
<div class="work col-xs-6 col-md-3">
  <h3>Jet dog.</h3>
  <a href="http://s3-ec.buzzfed.com/static/2014-06/14/14/enhanced/webdr03/anigif_enhanced-18830-1402770189-5.gif" class="thumbnail">
    <img src="http://s3-ec.buzzfed.com/static/2014-06/14/14/enhanced/webdr03/anigif_enhanced-18830-1402770189-5.gif" alt="doge">
  </a>
  <p>This here is a dog enjoying a ride on a jetski.</p>
</div>
<div class="divider"></div>
<div class="col-xs-6 col-md-3">
   <h3>Human dog.</h3>
  <a href="http://s3-ec.buzzfed.com/static/2014-06/14/16/enhanced/webdr05/anigif_enhanced-24079-1402777384-2.gif" class="thumbnail">
    <img src="http://s3-ec.buzzfed.com/static/2014-06/14/16/enhanced/webdr05/anigif_enhanced-24079-1402777384-2.gif" alt="doge">
  </a>
    <p>This here is a human.</p>
</div>
<div class="divider"></div>

<div class="col-xs-6 col-md-3">
   <h3>Swim dog.</h3>
  <a href="http://s3-ec.buzzfed.com/static/2013-12/enhanced/webdr07/3/12/anigif_enhanced-buzz-14182-1386090558-25.gif" class="thumbnail">
    <img src="http://s3-ec.buzzfed.com/static/2013-12/enhanced/webdr07/3/12/anigif_enhanced-buzz-14182-1386090558-25.gif" alt="doge">
  </a>
  <p>This here is a dog going for a relaxing swim.</p>
</div>
<div class="divider"></div>

<div class="col-xs-6 col-md-3">
   <h3>Derp dog.</h3>
  <a href="http://s3-ec.buzzfed.com/static/2013-12/enhanced/webdr02/3/12/anigif_enhanced-buzz-2848-1386091343-4.gif" class="thumbnail">
    <img src="http://s3-ec.buzzfed.com/static/2013-12/enhanced/webdr02/3/12/anigif_enhanced-buzz-2848-1386091343-4.gif" alt="doge">
  </a>
    <p>This here is a dog going full derp.</p>
</div>
-->   