<% provide(:title, 'Work') %>

<section id="examples">
  <div class="page-header">
    <h1>Work :</h1>
  </div>
  <p class="lead">Move beyond the base template with a few example layouts. We encourage folks to iterate on these examples and not simply use them as an end result.</p>
  <ul class="thumbnails bootstrap-examples">
    <li class="span3">
      <a class="thumbnail" href="examples/starter-template.html">
        <img src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xpa1/t1.0-9/549413_599958099158_275339807_n.jpg" alt="">
      </a>
      <h4>Starter template</h4>
      <p>A barebones HTML document with all the Bootstrap CSS and JavaScript included.</p>
    </li>
    <li class="span3">
      <a class="thumbnail" href="examples/hero.html">
        <img src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xpa1/t1.0-9/549413_599958099158_275339807_n.jpg" alt="">
      </a>
      <h4>Basic marketing site</h4>
      <p>Featuring a hero unit for a primary message and three supporting elements.</p>
    </li>
    <li class="span3">
      <a class="thumbnail" href="examples/fluid.html">
        <img src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xpa1/t1.0-9/549413_599958099158_275339807_n.jpg" alt="">
      </a>
      <h4>Fluid layout</h4>
      <p>Uses our new responsive, fluid grid system to create a seamless liquid layout.</p>
    </li>

    <li class="span3">
      <a class="thumbnail" href="examples/marketing-narrow.html">
        <img src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xpa1/t1.0-9/549413_599958099158_275339807_n.jpg" alt="">
      </a>
      <h4>Narrow marketing</h4>
      <p>Slim, lightweight marketing template for small projects or teams.</p>
    </li>
    <li class="span3">
      <a class="thumbnail" href="examples/justified-nav.html">
        <img src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xpa1/t1.0-9/549413_599958099158_275339807_n.jpg" alt="">
      </a>
      <h4>Justified nav</h4>
      <p>Marketing page with equal-width navigation links in a modified navbar.</p>
    </li>
    <li class="span3">
      <a class="thumbnail" href="examples/signin.html">
        <img src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xpa1/t1.0-9/549413_599958099158_275339807_n.jpg" alt="">
      </a>
      <h4>Sign in</h4>
      <p>Barebones sign in form with custom, larger form controls and a flexible layout.</p>
    </li>

    <li class="span3">
      <a class="thumbnail" href="examples/sticky-footer.html">
        <img src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xpa1/t1.0-9/549413_599958099158_275339807_n.jpg" alt="">
      </a>
      <h4>Sticky footer</h4>
      <p>Pin a fixed-height footer to the bottom of the user's viewport.</p>
    </li>
    <li class="span3">
      <a class="thumbnail" href="examples/carousel.html">
        <img src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xpa1/t1.0-9/549413_599958099158_275339807_n.jpg" alt="">
      </a>
      <h4>Carousel jumbotron</h4>
      <p>A more interactive riff on the basic marketing site featuring a prominent carousel.</p>
    </li>
  </ul>
</section>




<!--
<h1 class="page-header">Work :</h1>
<div class="work col-xs-6 col-md-3">
  <h3>Jet dog.</h3>
  <a href="http://s3-ec.buzzfed.com/static/2014-06/14/14/enhanced/webdr03/anigif_enhanced-18830-1402770189-5.gif" class="thumbnail">
    <img src="http://s3-ec.buzzfed.com/static/2014-06/14/14/enhanced/webdr03/anigif_enhanced-18830-1402770189-5.gif" alt="doge">
  </a>
  <p>This here is a dog enjoying a ride on a jetski.</p>
</div>
<div class="divider"></div>
<div class="col-xs-6 col-md-3">
   <h3>Human dog.</h3>
  <a href="http://s3-ec.buzzfed.com/static/2014-06/14/16/enhanced/webdr05/anigif_enhanced-24079-1402777384-2.gif" class="thumbnail">
    <img src="http://s3-ec.buzzfed.com/static/2014-06/14/16/enhanced/webdr05/anigif_enhanced-24079-1402777384-2.gif" alt="doge">
  </a>
    <p>This here is a human.</p>
</div>
<div class="divider"></div>

<div class="col-xs-6 col-md-3">
   <h3>Swim dog.</h3>
  <a href="http://s3-ec.buzzfed.com/static/2013-12/enhanced/webdr07/3/12/anigif_enhanced-buzz-14182-1386090558-25.gif" class="thumbnail">
    <img src="http://s3-ec.buzzfed.com/static/2013-12/enhanced/webdr07/3/12/anigif_enhanced-buzz-14182-1386090558-25.gif" alt="doge">
  </a>
  <p>This here is a dog going for a relaxing swim.</p>
</div>
<div class="divider"></div>

<div class="col-xs-6 col-md-3">
   <h3>Derp dog.</h3>
  <a href="http://s3-ec.buzzfed.com/static/2013-12/enhanced/webdr02/3/12/anigif_enhanced-buzz-2848-1386091343-4.gif" class="thumbnail">
    <img src="http://s3-ec.buzzfed.com/static/2013-12/enhanced/webdr02/3/12/anigif_enhanced-buzz-2848-1386091343-4.gif" alt="doge">
  </a>
    <p>This here is a dog going full derp.</p>
</div>
-->   