<% provide(:title, 'Work') %>

<h1 class="page-header">Work :</h1>
<div class="work col-xs-6 col-md-3">
  <h3>Jet dog.</h3>
  <a href="" class="thumbnail">
    <img src="/assets/anigif_enhanced-18830-1402770189-5.gif" alt="doge">
  </a>
  <p>This here is a dog enjoying a ride on a jetski.</p>
</div>
<div class="divider"></div>
<div class="col-xs-6 col-md-3">
   <h3>Human dog.</h3>
  <a href="" class="thumbnail">
    <img src="/assets/anigif_enhanced-24079-1402777384-2.gif" alt="doge">
  </a>
    <p>This here is a human.</p>
</div>
<div class="divider"></div>

<div class="col-xs-6 col-md-3">
   <h3>Swim dog.</h3>
  <a href="" class="thumbnail">
    <img src="/assets/anigif_enhanced-buzz-14182-1386090558-25.gif" alt="doge">
  </a>
  <p>This here is a dog going for a relaxing swim.</p>
</div>
<div class="divider"></div>

<div class="col-xs-6 col-md-3">
   <h3>Derp dog.</h3>
  <a href="#" class="thumbnail">
    <img src="/assets/anigif_enhanced-buzz-2848-1386091343-4.gif" alt="doge">
  </a>
    <p>This here is a dog going full derp.</p>
</div>
   