/* Apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* HTML elements */
html {
}

body {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-weight: 100;
  background-color: #eeeeee;
}

@media (min-width: 979px) {
  body { padding-top: 80px; }
}
/* no padding on small screen size */
@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
}
@media (max-width: 480px) {

}
h1 {
}

h1, h2, h3, h4, .navbar ul {
  font-weight: 200;
}

p {
  font-weight: 200;
}

/* CSS classes */
.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
  padding: 0px;
}
.container {
  position: relative;
}
.container-body {
  background-color: white;
  padding: 1em;
}
.navbar .nav > li > a {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  font-size: 20px;
}

.navbar .nav > li > a {
  color: black;
}

.navbar .container {
  height: 2em;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
  background-color: white;
  color: black;
  text-decoration: underline;
}
.navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
  background-color: white;
  width: auto;
  height: 3em;
}
.navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container
.container-body {

}

a.thumbnail {
  padding-top: auto;
}

.divider {
  border-top: 1px solid #eeeeee;
  padding-bottom: 50px;
}
.divider-pad {
  padding-bottom: 50px;
}

/* Footer */
.container-footer {
  padding-top: 30px;
  background-color: white;
  border-top: 1px solid #eeeeee;
  text-align: center;
}
.divider-footer {
  border-bottom: 1px solid #eeeeee;
  padding-top: 50px;
  padding-bottom: 50px;
}
/*
.container-footer {
  color: rgba(51,51,51,0.7);
  text-align: center;
  background: #f0f0f3;
  margin-top: 24px;
  padding: 10px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.15);
  width: 100%;
}
*/
.container-footer > h4 {
  font-size: 1em;
}